body {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: 'Roboto', sans-serif;
    padding-top: 51px;
    color: #fff;
    width: 1029px;
    margin: 0 auto;
}
.header-items {
    display: flex;
    justify-content: space-between;
}
.link-logo a {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 196px;
}
.link-logo:hover {
    color: #F26522;
}
.link-logo .main-logo img {
    width: 53px;
    height: 47px;
}
.link-logo .main-logo:nth-of-type(2) {
    display: none;
}
.link-logo:hover .main-logo:nth-of-type(1) {
    display: none;
}
.link-logo:hover .main-logo:nth-of-type(2) {
    display: block;
}
.main-logo {
    width: 53px;
    height: 47px;
}
.page-title {
    font-weight: 700; 
}
h1 {
    font-size: 29px;
}
h2 {
    font-size: 18px;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    align-items: flex-end;
}
.mail:hover  {
    color: #F26522;
}
.tel:hover  {
    color: #F26522;
}
#main-wrapper {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 298px 298px;
    column-gap: 62px;
    font-size: 18px;
    padding-top: 20px;
}

p {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
    padding-bottom: 15px;
    margin-left: 14px;
}
.parent {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: 0.5s;
}
.orange {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    top: -96px;
    width: 300px;
    height: 55px;
    background-color: #F26522;
    color: white;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s linear 0.2s;
    
}
.parent:hover .orange{
    opacity: 1;
}
.parent:hover h3 {
    transition: 0.5;
    color: #F26522;
}
.image {
    padding-bottom: 20px;
}
.price-text {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly; 
    align-items: flex-start; 
    height: 55px;  
    font-size: 10px;
    padding-left: 16px;
}
.price {
    font-size: 20px;
}
.link {
    padding: 29px 37px 12px 0px;
    font-size: 14px;
}

.orange a::after {
    content: '';
    background: url('../img/Vector.png');
    background-size: 5px 10px;
    width: 5px;
    height: 10px;
    display: block;
    position: absolute;
    right: 14px;
    top: 32px;
}
.link:hover {
    text-decoration: underline;
}
